In [2]:
# Python 2/3 comaptibility
from __future__ import print_function

In [3]:
import ipywidgets

## Project:  Scrape HackerNews.  (https://news.ycombinator.com)

Suppose you want to understand what sort of news gets traction in HackerNews.  For this, you want to pull the top posts from hackernews everyday.

* Title
* URL
* Author / Who posted it
* Up votes
* Position
* How many comments


Additional Challenge - Scrape all the comments by navigating to the follow-up links

### Check Robots.txt and ToS of HackerNews before we start the Scrapping Project

In [4]:
url = "https://news.ycombinator.com/robots.txt"
iframe = '<iframe src=' + url + ' width=700 height=200></iframe>'
ipywidgets.HTML(iframe)

** Looks like we are good to go if we scrape once in 30 seconds or more.

### Let's Try Pandas HTML

In [2]:
import pandas as pd

In [4]:
tables = pd.read_html("https://news.ycombinator.com")

In [5]:
len(tables)

3

In [10]:
c

    0                                                  1      2
0 NaN  Hacker News  new | comments | show | ask | job...  login

In [11]:
tables[2].head()

,0,1,2
0,1.0,NaN,2bit Astrophotography with the Game Boy Camera...
1,NaN,131 points by cremno 4 hours ago | hide | 35 c...,NaN
2,NaN,NaN,NaN
3,2.0,NaN,An old idea to make cities more pedestrian-fri...
4,NaN,70 points by curtis 4 hours ago | hide | 77 co...,NaN

In [13]:
tables[2].head()

,0,1,2
0,1.0,NaN,2bit Astrophotography with the Game Boy Camera...
1,NaN,131 points by cremno 4 hours ago | hide | 35 c...,NaN
2,NaN,NaN,NaN
3,2.0,NaN,An old idea to make cities more pedestrian-fri...
4,NaN,70 points by curtis 4 hours ago | hide | 77 co...,NaN

#### So it's clear that We can't use Pandas read_html to read all the contents of the table.  

* Beautiful Soup to the Rescue

In [15]:
## Your Code here.  We will be around to help